# Виртуальное окружение
venv/
env/

# База данных
*.sqlite3
db.sqlite3

# Кэш питона
__pycache__/
*.pyc

# Секреты (ключи API)
.env

# Данные RAG-системы
obsidian_data/
chroma_db/

# Фронтенд зависимости (Node.js)
node_modules/

# (Опционально) Игнорируем логи npm, если они вдруг появятся
npm-debug.log*

node_modules/